// BASE DE DATOS MONGO-USUARIOS
DATABASE_MONGO=

//TOKEN AUTH
JWT_SECRET=

//FRONT END
FRONTEND_URL=

//SMTP
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=a6a184aac9cdfe
SMTP_PASS=39433640770631
SMTP_FROM_NAME=SIGEPA
SMTP_FROM_EMAIL=no-reply@sigepa.local
